/* СТИЛИ ВТОРОЙ ЗАДАЧИ */
/* .hiddenD {
  display: none;
}

.hiddenC {
  display: none;
} */


/* СТИЛИ ТРЕТЬЕЙ ЗАДАЧИ */
/* .bgcolor-book {
  background-color: orange;
} */

/* СТИЛИ ЧЕТВЁРТОЙ ЗАДАЧИ */
/* .text-area {
  display: none;
} */